/* Estilos generales de la pagina */
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: "Open Sans", Verdana;
}

body{
    background: white;
}

/* Limpiar el flotado */
.clearfix{
    clear: both;
    float: none;
}

/* Centrar un bloque */
.container{
    width: 85%;
    margin: 0px auto;
}

#main-header{
    background: white;
    height: 100px;
    line-height: 85px;
   
}

#logo{
    width: 65%;
    float: left;
}

#logo h1{
    font-weight: bold;
    font-size: 25px;
    color: #006a8cff;
}

.menu{
    width: 380px;
    float: left;
}

.menu ul li{
    list-style: none;
    float: left;
    margin-left: 24px;
    margin-right: 24px;
}

.menu ul li a{
    color: black;
}
.menu ul li a:hover{
    color: #006a8cff;
}

/* Slider */

.slider{
    height: 300px;
    background: #006a8cff;
}

.slider h2{
    font-size: 40px;
    text-align: center;
    color: white;
    line-height: 130px;
    text-shadow: 0px 0px 6px black;
    display: block;
}

.slider p{
    font-size: 20px;
    text-align: justify;
    color: white;
}

/* Servicios */
.subheader{
    font-size: 34px;
    color: black;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 106, 140, 1);
}

.service, .video{
    width: 33%;
    text-align: center;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service img{
    height: 48px;
    margin-bottom: 20px;

}

.service h3{
    margin-bottom: 10px;

}

.service p, .video p{
    display: block;
    color: #333;
    text-align: center;
    width: 85%;
    margin: 0px auto;
}

/* Videos */

.video video{
    width: 60%;
    height: 150%;
}

/* Pie de página */

footer{
    background: #333;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color: white;
}

footer .subheader{
    color: white;
}

#networks{
    display: block;
    width: 216px;
    margin: 0px auto;
    margin-bottom: 20px;
    list-style: none;
    margin-top: auto;
}

#networks li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 80px;
    transition: all 300ms;
}

#networks li:hover{
    opacity: 0.8;
    transform: scale(1.1, 1.1);
}

/* Responsive desing */

/* Nav de navegación */
@media (max-width: 1225px){
    .container{
        width: 95%;

    }

}

@media (max-width: 1085px){

    #main-header{
        height: 70px;
        line-height: 65px;
       
    }

    #logo{
        width: 59%;
    }

}

@media (max-width: 999px){
    #logo{
         width: 227px;
         float: none;
         margin: 0px auto;
         text-align: center;
     }
    
     .menu{
        float: none;
        margin: 5px auto;
     } 

     .menu ul li{
        margin-left: 24px;
        margin-right: 25px;
     } 

     .slider{
        overflow: hidden;
        height: 150px;
     }

    .slider h2{
        font-size: 30px;
        line-height: 25px;
        margin-top: 49px;
        display: block;
    } 

}

@media (max-width: 780px){
    .service, .video{
    width: 70%;
    float: none;
    margin-top: 20px;
    margin-bottom: 40px;
    margin: 0px auto;
    }

    .subheader{
        font-size: 22px;
    }

    .slider p{
        font-size: 25px;
    }

    /* .service p{
        width: 50%;
        text-align: justify;
    } */

    .service p, .video p{
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .service img{
        margin-bottom: 10px;
    }

    .video video{
        width: 60%;
        height: 230px;
    }

}


@media (max-width: 680px){
    .slider h2{
        font-size: 22px;
        line-height: 25px;
        margin-top: 60px;
    } 
}

@media (max-width: 567px){
    .slider h2{
        font-size: 23px;
        margin-top: 52px;
    } 

    .menu ul li{
        margin-left: 23px;
        margin-right: 24px;
     } 


}
@media (max-width: 415px){

    .menu ul li{
        margin-left: 6%;
        margin-right: 6%;
     } 


}


@media (max-width: 377px){

    .menu{
        width: 100%;
        text-align: center;
    }

    .menu ul li {
    margin-left: 5%;
    margin-right: 5%;
    }

    .service, .video{
        width: 90%;
    }

    .video video{
        height: 140px;
    }
}

@media (max-width: 371px){

    #main-header{
        height: auto;
    }
    .menu ul li {
    float: none;
    }
}




